@font-face {
	font-family: Lauweriks;
	src: url('fonts/Lauweriks-Regular.woff') format('woff');
}

@font-face {
	font-family: Ohno;
	src: url('fonts/OhnoBlazefaceItalic-72Point.woff') format('woff');
}
