.about-view-container {
	display: flex;
	flex-direction: row;
	flex: 1;
	width: 100%;
	justify-content: space-between;
}

.about-view-section {
	width: 30%;
}

.margin-top {
	margin-top: 32px;
}

@media only screen and (max-width: 800px) {
	.about-view-container {
		flex-direction: column;
		justify-content: flex-start;
	}

	.about-view-section {
		width: 100%;
	}

	.margin-top {
		margin-top: 0;
	}
}
