.about-view-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: 1;
	width: 100%;
}

.about-view-section {
	width: 30%;
}

@media only screen and (max-width: 800px) {
	.about-view-container {
		flex-direction: column;
	}

	.about-view-section {
		width: 100%;
	}
}
